@tailwind base;
@tailwind components;
@tailwind utilities;

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .btns{
    margin-top: 64vh;

  }
  
  }
